body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: royalblue;
    text-align: center;
    font-size: 18pt;
    padding: 15px;
}

nav ul {
    display: inline;
}

nav li {
    display: inline;
    padding: 10px;
}
  
nav li a {
    color: white;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111111;
}

main {
    border-width: 1px;
    border-style: dashed;
    margin: 10px auto;
    padding: 15px;
}

section {
    margin-top: 10px;
    margin-right: 30px;
    width: 70%;
}

section > h1 {
    margin-top: 20px;
    margin-left: 10px;
}

article {
    margin: 0px 20px 10px;
    border-top: 1px solid royalblue;
    padding: 10px;
}

article > p {
    font-size: 16pt;
}

article > img {
    float: right;
    margin-top: 10px;
    background-color: lightgray;
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
}

aside {
    background-color: lightgray;
    padding: 10px;
    float: right;
    width: 20%;
    margin-top: 10px;
    margin-left: 20px;
}

footer {
    clear: both;
}