body {
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif, Helvetica, Arial;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid lightgreen;
    border-collapse: collapse;
}

tr:nth-child(1) {
    background-color: mediumaquamarine;
    font-size: 18px;
    color: whitesmoke;
}

th {
    padding: 10px;
}

tr:nth-child(2n+0) {
    background-color: lightyellow;
}

tr:nth-child(2n+3) {
    background-color: silver;
}

td {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
}