* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 20px;
}
section {
    width: 500px;
    border: 1px solid gray;
    background-color: white;
    color: black;
}

article h3 {
    color: white;
    background-color: gray;
    padding: 4px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

p {
    display:none;
    padding:4px;
}