body {
    background-color: whitesmoke;
    margin: 0 auto;
    font-family: sans-serif, Helvetica, Arial;
}

.banner {
    background-color: lightblue;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 16pt;
}

.nav a {
    text-decoration: none;
    color: mintcream;
}

.nav a:hover {
    background-color: #111111;
}

img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h1 {
    color:mintcream;
}

h2 {
    background-color: gray;
    color:mintcream;
    padding-left: 30px;
}

p {
    padding-left: 30px;
}

em {
    text-align: center;
}

li {
    list-style-type: square;
}