body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    width: 450px;
}

main {
    background-color: darkgray;
    padding: 5px;
}

.valikko {
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.valikko > h2 {
    padding: 5px;
    margin-top: -20px;
    background-color: darkcyan;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 200px;
    color: white;
    font-weight: 500;
    font-size: 12pt;
}

.syotteet {
    margin: 0 auto;
}

.syotteet > p {
    margin: 5px auto;
    display: inline;
}

.syotteet > input {
    width: 90%;
    margin-bottom: 10px;
}

.liukuvalikko_otsikko {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.liukuvalikko_min {
    float: left;
    margin-left: 10px;
    margin-top: 0;
    width: 20%;
}

.liukuvalikko_max {
    width: 20%;
    float: right;
    margin-right: 10px;
    margin-top: 0;
}

.liukuvalikko {
    margin-bottom: 20px;
}

button {
    background-color: darkcyan;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
}